{% extends "staff_layout.html" %}
{% load static %}

{% block content %}
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card card-statistic-2">
          <div class="card-stats">
            <div class="card-stats-title">Declaration Statistics - 
              <div class="dropdown d-inline">
                <a class="font-weight-600 dropdown-toggle" data-toggle="dropdown" href="#" id="orders-month">August</a>
                <ul class="dropdown-menu dropdown-menu-sm">
                  <li class="dropdown-title">Select Month</li>
                  <li><a href="#" class="dropdown-item">January</a></li>
                  <li><a href="#" class="dropdown-item">February</a></li>
                  <li><a href="#" class="dropdown-item">March</a></li>
                  <li><a href="#" class="dropdown-item">April</a></li>
                  <li><a href="#" class="dropdown-item">May</a></li>
                  <li><a href="#" class="dropdown-item">June</a></li>
                  <li><a href="#" class="dropdown-item">July</a></li>
                  <li><a href="#" class="dropdown-item active">August</a></li>
                  <li><a href="#" class="dropdown-item">September</a></li>
                  <li><a href="#" class="dropdown-item">October</a></li>
                  <li><a href="#" class="dropdown-item">November</a></li>
                  <li><a href="#" class="dropdown-item">December</a></li>
                </ul>
              </div>
            </div>
            <div class="card-stats-items">
              <div class="card-stats-item">
                <div class="card-stats-item-count">24</div>
                <div class="card-stats-item-label">Initial</div>
              </div>
              <div class="card-stats-item">
                <div class="card-stats-item-count">12</div>
                <div class="card-stats-item-label">Biannual</div>
              </div>
              <div class="card-stats-item">
                <div class="card-stats-item-count">23</div>
                <div class="card-stats-item-label">Exits</div>
              </div>
            </div>
          </div>
          <div class="card-icon shadow-info bg-info">
            <i class="fas fa-archive"></i>
          </div>
          <div class="card-wrap">
            <div class="card-header">
              <h4>Total Declarations This Year</h4>
            </div>
            <div class="card-body">
              59
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card card-statistic-2">
          <div class="card-chart">
            <canvas id="employees-chart" height="80" data-url="{% url 'employees-chart' %}"></canvas>
          </div>
          <div class="card-icon shadow-danger bg-danger">
            <i class="fas fa-users"></i>
          </div>
          <div class="card-wrap">
            <div class="card-header">
              <h4>Employees</h4>
            </div>
            <div class="card-body">
              4,732
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12">
        <div class="card card-secondary">
          <div class="card-header">
            <h4>Departmental Analysis</h4>
            <div class="card-header-action">
              <a href="#" class="btn btn-primary">View Detailed Analysis</a>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped mb-0">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Initial</th>
                    <th>Biannual</th>
                    <th>Exit</th>
                  </tr>
                </thead>
                <tbody>
                  {% for department in departments %}
                    <tr>
                      <td>{{department.name}}</td>
                      <td>{{department.initial_declarations.count}}</td>
                      <td>{{department.biannual_declarations.count}}</td>
                      <td>{{department.exit_declarations.count}}</td>
                    </tr>               
                  {% endfor %}                  
                </tbody>
                <tfoot>
                  <tr>
                    <th>Total</th>
                    <th>{{total_initial_declarations}}</th>
                    <th>{{total_biannual_declarations}}</th>
                    <th>{{total_exit_declarations}}</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <form method="post" class="needs-validation" novalidate="">
          <div class="card card-secondary">
            <div class="card-header">
              <h4>Send a quick email to employees</h4>
            </div>
            <div class="card-body pb-0">
              <div class="form-group">
                <label>Subject</label>
                <input type="text" name="title" class="form-control" required>
                <div class="invalid-feedback">
                  Please fill in the title
                </div>
              </div>
              <div class="form-group">
                <label>Content</label>
                <textarea class="summernote"></textarea>
              </div>
            </div>
            <div class="card-footer pt-0">
              <button class="btn btn-primary">Save Draft</button>
            </div>
          </div>
        </form>
      </div>
    </div>
{% endblock content %}
{% block customjs %}
    <script>
        $('#dashboard-link').addClass('active');
        $('.table').DataTable();
        $('.summernote').summernote({
          dialogsInBody: true,
          minHeight: 150,      
        });

        $(function () {

          var $employeesChart = $("#employees-chart");

          $.ajax({
            url: $employeesChart.data("url"),
            success: function (data) {

              var ctx = $employeesChart[0].getContext("2d");

              var chart_bg_color = ctx.createLinearGradient(0, 0, 0, 80);
              chart_bg_color.addColorStop(0, 'rgba(63,82,227,.2)');
              chart_bg_color.addColorStop(1, 'rgba(63,82,227,0)');

              new Chart(ctx, {
                type: 'bar',
                data: {
                  labels: data.labels,
                  datasets: [{
                    label: 'No of. Employees',
                    data: data.data,
                    borderWidth: 2,
                    backgroundColor: chart_bg_color,
                    borderWidth: 3,
                    borderColor: '#4da35b',
                    pointBorderWidth: 0,
                    pointBorderColor: 'transparent',
                    pointRadius: 3,
                    pointBackgroundColor: 'transparent',
                    pointHoverBackgroundColor: 'rgba(63,82,227,1)',
                  }]          
                },
                options: {
                  layout: {
                    padding: {
                      bottom: -1,
                      left: -1
                    }
                  },
                  legend: {
                    display: false
                  },
                  scales: {
                    yAxes: [{
                      gridLines: {
                        display: false,
                        drawBorder: false,
                      },
                      ticks: {
                        beginAtZero: true,
                        display: false
                      }
                    }],
                    xAxes: [{
                      gridLines: {
                        drawBorder: false,
                        display: false,
                      },
                      ticks: {
                        display: false
                      }
                    }]
                  },
                }
              });

            }
          });

        });

    </script>    
{% endblock customjs %}