{% extends "layout.html" %}
{% load static %}
{% load account %}
{% block section_header %}
  <section class="section-header">    
      <h1>Welcome, {{user.profile.get_full_name}}</h1>
      <div class="section-header-breadcrumb">
        <div class="breadcrumb-item"><i class="fas fa-home"></i> &nbsp; Home</div>
      </div>
  </section>
{% endblock section_header %}
{% block content %}
    <div class="container">
    <div class="card card-primary">
      <div class="card-header border-bottom"><h5>Choose the type of declaration you wish to make</h5></div>
      <div class="card-body">
        <a href="{% url 'initial_declaration' %}" class="btn btn-primary my-2">
          <i class="fas fa-plus-circle"></i>
          &nbsp;
          Initial Wealth Declaration
        </a>
        <a href="{% url 'biannual_declaration' %}" class="btn btn-dark my-2">
          <i class="fas fa-clone"></i>
          &nbsp;
          Bi - Annual Declaration
        </a>
        <a href="{% url 'exit_declaration' %}" class="btn btn-danger my-2">
          <i class="fas fa-sign-out-alt"></i>
          &nbsp;
          Exit Wealth Declaration
        </a>        
      </div>
    </div>
    <div class="card card-dark">
      <div class="card-header border-bottom"><h5>Previous Declarations</h5></div>
      <div class="card-body">
        <div class="table-responsive">          
          <table class="table">
            <thead>
              <tr>
                <th>Date Declared</th>
                <th>Type of Declaration</th>
              </tr>
            </thead>
            <tbody>
              {% if user.initial %}
              <tr>
                <td>{{user.initial.time_of_declaration}}</td>
                <td>Initial Declaration</td>
              </tr>                
              {% endif %}
              {% for declaration in declarations %}
              <tr>
                <td>{{declaration.time_of_declaration}}</td>
                <td>BiAnnual Declaration (Period: {{declaration.period_of_declaration}})</td>
              </tr>                
              {% endfor %}
            </tbody>
          </table>  
        </div>
      </div>
    </div>
    </div>
{% endblock content %}
{% block customjs %}
<script>
  $(document).ready(function(){
    $('#dashboard-link').addClass('active');
    $('.table').DataTable();
  });
</script>  
{% endblock customjs %}