{% extends "layout.html" %}
{% load static %}
{% block section_header %}    
    
{% endblock section_header %}
{% block content %}
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto mt-5 text-center">
        <img src="{% static 'img/cpsb_.png' %}" alt="Nyeri CPSB Logo" class="img-fluid">
        <h1 class="my-3">Authentication Management System</h1>
        {% if user.is_authenticated %}
        <p class="my-3">If you landed here, then please choose a system to redirect to.</p>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card card-primary card-statistic-2">                  
                  <div class="card-icon shadow-danger bg-danger">
                    <i class="fas fa-users"></i>
                  </div>
                  <div class="card-wrap">
                    <div class="card-header">
                      <h4>Recruitment Portal</h4>
                    </div>
                    <div class="card-body">
                      <a href="">Go to Portal</a>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card card-primary card-statistic-2">                  
                  <div class="card-icon shadow-info bg-info">
                    <i class="fas fa-dollar-sign"></i>
                  </div>
                  <div class="card-wrap">
                    <div class="card-header">
                      <h4>Wealth Declaration</h4>
                    </div>
                    <div class="card-body">
                      <a href="">Go to System</a>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card card-primary card-statistic-2">                  
                  <div class="card-icon shadow-dark bg-dark">
                    <i class="fas fa-envelope"></i>
                  </div>
                  <div class="card-wrap">
                    <div class="card-header">
                      <h4>Mail Management System</h4>
                    </div>
                    <div class="card-body">
                      <a href="">Go to System</a>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card card-primary card-statistic-2">                  
                  <div class="card-icon shadow-success bg-success">
                    <i class="fas fa-tasks"></i>
                  </div>
                  <div class="card-wrap">
                    <div class="card-header">
                      <h4>Task Management System</h4>
                    </div>
                    <div class="card-body">
                      <a href="">Go to System</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
          
        {% endif %}
      </div>
    </div>
{% endblock content %}
{% block customjs %}
    <script>
        $('#dashboard-link').addClass('active');
    </script>    
{% endblock customjs %}