{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% user_display user as user_display %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="card card-primary shadow">
  <div class="card-header"><h4>Hello from {{ current_site.name }}!</h4></div>
  <div class="card-body">
    <p>You're receiving this e-mail because user {{ user_display }} has given yours as an e-mail address to connect their account.</p>
    <span>To confirm this is correct,click on the button below:</span>
    <a class="btn-btn-primary" href="{{ activate_url }}">Confirm Email Address</a>
  </div>
</div>
<div class="mt-5 text-muted text-center">
  Thank you from {{ site_name }}!
</div> 

<script>
  $('#sign_in_link').addClass('active');
</script>

{% endblock %}