<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>NYERI CPSB &rsaquo; WEALTH DECLARATION {% if title %}| {{title}}{% endif %}</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.css" integrity="sha512-LhZScx/m/WBAAHyiPnM+5hcsmCMjDDOgOqoT9wyIcs/QUPm6YxVNGZjQG5iP8dhWMWQAcUUTE3BkshtrlGbv2Q==" crossorigin="anonymous" />
  <!-- CSS Libraries -->

  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/components.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">

  <link rel="icon" href="{% static 'img/county_logo.png' %}">
</head>

<body class="layout-3">
  <div id="app">
    <div class="main-wrapper container">
      <div class="navbar-bg"></div>
        <nav class="navbar navbar-expand-lg main-navbar">
          <a href="{% url 'home' %}" class="navbar-brand sidebar-gone-hide">
            <img src="{% static 'img/county_logo.png' %}" alt="CPSB Logo" width="100" class="img-fluid mt-5">
          </a>
          <a href="#" class="nav-link sidebar-gone-show" data-toggle="sidebar"><i class="fas fa-bars"></i></a>
          <div class="nav-collapse">
            <a class="sidebar-gone-show nav-collapse-toggle nav-link" href="#">
              <i class="fas fa-ellipsis-v"></i>
            </a>
            <ul class="navbar-nav">
              <li class="nav-item">
                <span class="text-white font-weight-bolder">NYERI COUNTY PUBLIC SERVICE BOARD</span>
              </li> 
              
            </ul>
          </div>
          <form class="form-inline ml-auto">
            <ul class="navbar-nav">
              <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
            </ul>
            <div class="search-element">
              <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="250">
              <button class="btn" type="submit"><i class="fas fa-search"></i></button>
              <div class="search-backdrop"></div>
              <div class="search-result">
                <div class="search-header">
                  Histories
                </div>
                
                <div class="search-header">
                  Result
                </div>
                
                <div class="search-header">
                  Projects
                </div>
                <div class="search-item">
                  <a href="#">
                    <div class="search-icon bg-danger text-white mr-3">
                      <i class="fas fa-code"></i>
                    </div>
                    Recruitment
                  </a>
                </div>              
              </div>
            </div>
          </form>
          <ul class="navbar-nav navbar-right">
            <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link nav-link-lg message-toggle"><i class="far fa-envelope"></i></a>
              <div class="dropdown-menu dropdown-list dropdown-menu-right">
                <div class="dropdown-header">
                  Messages
                  <!--
                  <div class="float-right">
                    <a href="#">Mark All As Read</a>
                  </div>
                -->
                </div>
                <div class="dropdown-list-message">
                  <a href="#" class="dropdown-item dropdown-item-unread">
                    <!--
                    <div class="dropdown-item-avatar">
                      <img alt="image" src="{% static 'img/avatar.jpg' %}" class="rounded-circle">
                      <div class="is-online"></div>
                    </div>
                    -->
                    <div class="dropdown-item-desc">
                      <!--<b>Kusnaedi</b>-->
                      <b>No new messages</b>
                      <!--<div class="time">10 Hours Ago</div>-->
                    </div>
                  </a>
                </div>
                
                <!--
                <div class="dropdown-footer text-center">
                  <a href="#">View All <i class="fas fa-chevron-right"></i></a>
                </div>
              -->
              </div>
            </li>
            <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg"><i class="far fa-bell"></i></a>
              <div class="dropdown-menu dropdown-list dropdown-menu-right">
                <div class="dropdown-header">
                  Notifications
                  <!--
                  <div class="float-right">
                    <a href="#">Mark All As Read</a>
                  </div>
                -->
                </div>
                <div class="dropdown-list-message">
                  <a href="#" class="dropdown-item dropdown-item-unread">
                    <!--
                    <div class="dropdown-item-avatar">
                      <img alt="image" src="{% static 'img/avatar.jpg' %}" class="rounded-circle">
                      <div class="is-online"></div>
                    </div>
                    -->
                    <div class="dropdown-item-desc">
                      <!--<b>Kusnaedi</b>-->
                      <b>No new notifications</b>
                      <!--<div class="time">10 Hours Ago</div>-->
                    </div>
                  </a>
                </div>
                
                <!--
                <div class="dropdown-footer text-center">
                  <a href="#">View All <i class="fas fa-chevron-right"></i></a>
                </div>
              -->
              </div>
            </li>
            {% if user.is_authenticated %}
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                  <img alt="image" src="{% static 'img/avatar.jpg' %}" class="rounded-circle mr-1">
                  <div class="d-sm-none d-lg-inline-block">{{user.id_number}}</div>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <div class="dropdown-title">Logged in {{user.last_login|naturaltime}}</div>
                  <a href="{% url 'account_change_password' %}" class="dropdown-item has-icon">
                    <i class="far fa-user"></i> Change Password
                  </a>
                  <a href="{% url 'account_email' %}" class="dropdown-item has-icon">
                    <i class="fas fa-bolt"></i> Email Settings
                  </a>
                  <div class="dropdown-divider"></div>
                  <a href="{% url 'account_logout' %}" class="dropdown-item has-icon text-danger">
                    <i class="fas fa-sign-out-alt"></i> Logout
                  </a>
                </div>
              </li>
              {% else %}
              <li class="nav-item active">
                <a href="{% url 'account_login' %}" class="btn btn-dark text-white"><i class="fas fa-sign-in-alt"> </i> Login</a>
              </li>
            {% endif %}
          </ul>
        </nav>
        <nav class="navbar navbar-secondary navbar-expand-lg">
          <div class="container">
            <ul class="navbar-nav">
              <li class="nav-item" id="dashboard-link">
                <a href="{% url 'home' %}" class="nav-link"><i class="fas fa-fire"></i><span>Dashboard</span></a>
              </li>
              <li class="nav-item dropdown" id="declaration-link">
                <a href="#" data-toggle="dropdown" class="nav-link has-dropdown"><i class="far fa-clone"></i><span>Vision &amp; Mission</span></a>
                <ul class="dropdown-menu">
                  <li class="nav-item" id="initial-link"><a href="#" class="nav-link">Our Vision</a></li>
                  <li class="nav-item" id="biannual-link"><a href="#" class="nav-link">Our Mission</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav> 
      <div class="main-content">
        <section class="section">
          {% if messages %}
            {% for message in messages %}               
              <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-{{ message.tags }}{% endif %}">
                <button type="button" class="close alert-btn" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              {{ message|safe }}
              </div>
            {% endfor %}
          {% endif %}
          {% block section_header %}            
            
          {% endblock section_header %}

          <div class="section-body">
            {% block content %}
              
            {% endblock content %}
          </div>
        </section>
      </div>
      <footer class="main-footer">
        <div class="footer-left">
          Copyright &copy; Nyeri County Government 2020 <div class="bullet"></div> Design By <a href="http://www.abedynganga.com">Abed Ng'ang'a</a>
        </div>
        <div class="footer-right">
          
        </div>
      </footer>
    </div>
  </div>

  <!-- General JS Scripts -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js" integrity="sha512-zMfrMAZYAlNClPKjN+JMuslK/B6sPM09BGvrWlW+cymmPmsUT1xJF3P4kxI3lOh9zypakSgWaTpY6vDJY/3Dig==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg==" crossorigin="anonymous"></script>
  <script src="{% static 'js/stisla.js' %}"></script>
  
  <!-- JS Libraies -->
  <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.js"></script>
  <script src="{% static 'js/jquery.placeholder.label.min.js' %}"></script>
  <script>
  // $('input[placeholder]').placeholderLabel();
  </script>
  <!-- Page Specific JS File -->
  
  
  <!-- Template JS File -->
  <script src="{% static 'js/scripts.js' %}"></script>
  {% block customjs %}    
  {% endblock customjs %}
</body>
</html>