{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="card card-primary shadow">
    <div class="card-header border-bottom"><h4>{% trans 'Request for Permission' %}</h4></div>
    <div class="card-body">
        <div class="text-center">            
        <p class="lead"><b>{{ client.name }}</b> would like to access the following details about you.</p>
            <form method="post" action="{% url 'oidc_provider:authorize' %}">
                {% csrf_token %}
                {{ hidden_inputs }}
                
                <ol>
                    {% for scope in scopes %}
                    <li><strong>{{ scope.name }}</strong> <br> <i class="text-muted">{{ scope.description }}</i></li>
                    {% endfor %}
                </ol>
                <div class="mt-2">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary btn-block btn-lg" name="allow"  value="{% trans 'Accept' %}" />
                        </div>
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-dark btn-block btn-lg" value="{% trans 'Decline' %}" />
                        </div>
                    </div>
                </div>            
            </form>         
        </div>
    </div>
</div>
{% endblock %}