{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="card card-primary shadow">
    <div class="card-header border-bottom"><h4>{{ error }}</h4></div>
    <div class="card-body">
        <p class="lead">{{ description }}</p>         
    </div>
</div>
{% endblock %}